<!DOCTYPE html>
<html ng-app="nested-controllers">
<head>
    <script src="/javascripts/angular.js"></script>
    <script>
        var app = angular.module('nested-controllers', []);

        app.controller('ParentCtrl', function ($scope) {
            $scope.valueType = 'foo';
            $scope.referenceType = { bar: 'test' };
        });

        app.controller('ChildCtrl', function ($scope) {
        });
    </script>
</head>
<body>
<div ng-controller="ParentCtrl">
    <h4>Parent</h4>
    valueType: <input type="text" ng-model="valueType"/> <br/>
    referenceType:
    <pre>{{referenceType | json}}</pre>
    referenceType.bar: <input type="text" ng-model="referenceType.bar"/>

    <div ng-controller="ChildCtrl">
        <h5>Child</h5>
        valueType: <input type="text" ng-model="valueType"/> <br/>
        referenceType:
        <pre>{{referenceType | json}}</pre>
        referenceType.bar: <input type="text" ng-model="referenceType.bar"/>
    </div>
</div>
</body>
</html>