<div class="container">
    <h3>The Basics</h3>

    <p>Below are the very basics required to get Angular up and running. At a minimum to get Angular working on your
        page
        you need:</p>
    <ul>
        <li>A reference to the angular.js file.</li>
        <li>To "bootstrap" an angular app on a DOM element either with <code>ng-app</code> or explicitly
            using <code>angular.bootstrap(element, moduleName)</code></li>
    </ul>
    <code-example src="/examples/basic.html"></code-example>
</div>