<h3>Filters</h3>

<p>Filters are used to do some processing at the view level. Generally this processing is used for things like narrowing
    a list of results or formatting text.</p>

<p>Some of the built-in filters are very useful:</p>
<ul>
    <li>currency - Formats a number as currency.</li>
    <li>date - Formats a date by a format string.</li>
    <li>filter - Filters down a collection matching the properties of a passed object.</li>
    <li>json - Formats an object as JSON with "pretty" spacing.</li>
    <li>limitTo - Returns only a specified number of rows from a collection.</li>
    <li>lowercase - Returns a lowercase string from any string.</li>
    <li>number - Formats numbers, rounds them adds commas, etc.</li>
    <li>orderBy - Orders a collection by property name on each object.</li>
    <li>uppercase - Returns an uppercase string from any string.</li>
</ul>

<code-example src="/examples/filters.html" result-height="700px"></code-example>