

<div class="span6">
    <a href="http://www.angularjs.org"><img src="/images/AngularJS-large.png" alt="Angular logo"/></a>

    <p>
        website/docs: <a href="http://www.angularjs.org">http://angularjs.org</a><br/>
        github: <a href="http://github.com/angular/angularjs">http://github.com/angular/angularjs</a><br/>
        twitter: <a href="http://twitter.com/angularjs">@angularjs</a>
    </p>
</div>

<div class="span6">
    <h5>Ben Lesh</h5>

    <p>
        github: <a href="http://www.github.com/blesh">http://github.com/blesh</a><br/>
        blog: <a href="http://www.benlesh.com">http://www.benlesh.com</a><br/>
        email: <a href="mailto:ben@benlesh.com">ben@benlesh.com</a>
    </p>
</div>