<div class="container span6">
<h4>{{title}}</h4>

<form name="todoForm" ng-submit="saveTodo()">
    <label for="title">title</label>
    <input type="text" id="title" name="title" ng-model="todo.title"
           required/>
    <span class="error" ng-show="todoForm.title.$error.required">required</span>

    <label for="description">description</label>
    <textarea id="description" name="description" class="span6"
            ng-model="todo.description"></textarea>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" ng-disabled="todoForm.$invalid">Save</button>
    </div>
</form>

<pre>{{todo | json}}</pre>
</div>